h1 {
    font-size: 24px;
}
h2 {
    color:#739bd0
}
h1, footer {
    background-color: #a2cffe;
}
h1, footer, #Image {
    text-align: center;
}
.link-special {
    background-color: #a2cffe;
}
a.link-special {
    background-color: #a2cffe;
}
nav > ul > li {
    font-size: small; 
    color:#01455e ;
}